:host {
  display: block;
}

mat-card {
  background: var(--cardBgColor);
  font-size: 1em;
  margin-bottom: 20px;
}

mat-card-actions {
  padding: 0;
}

.inline-edit {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: transparent;
  border: none;
  width: 100%;
  padding: 0;
}

.todo-title {
  font-size: 1.3em;
  font-family: Helvetica, Roboto, sans-serif;
  font-weight: bold;
  cursor: text;
  margin-bottom: 0;
}

.todo-description {
  font-size: 0.95em;
  font-family: Helvetica, Roboto, sans-serif;
  cursor: text;
}

textarea.todo-description {
  display: block;
  resize: none;
  margin-top: 14px;
}

:host(.dnd-sortable-drag) mat-card {
  border: 2px dashed rgba(0, 0, 0, .6);
}

:host {
  position: relative;
}

loading-spinner {
  position: absolute;
  right: 28px;
  top: 4px;
}
