<mat-card>
  <ng-template #normalMode>
    <mat-card-content>
      <h3 class="todo-title" (dblclick)="beginEdit()">
        {{todo.title}}
      </h3>
      <p class="todo-description" [innerHTML]="todoDescriptionHtml" (dblclick)="beginEdit('textarea.todo-description')"></p>
    </mat-card-content>
    <mat-card-actions title="delete" align="right">
      <button mat-icon-button (click)="beginEdit()" title="edit">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </ng-template>

  <ng-template #editMode>
    <mat-card-content #editCardContentElement>
      <input [(ngModel)]="editingTodo.title" class="todo-title inline-edit">
      <textarea [(ngModel)]="editingTodo.description" class="todo-description inline-edit" rows="1" cols="10" autosize></textarea>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="endEdit(true)" title="save">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button (click)="endEdit(false)" title="cancel">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </ng-template>

  <ng-container *ngIf="isEditMode; then editMode else normalMode"></ng-container>
</mat-card>
