:host {
  --cardBgColor: #FFFFFF;
}

.done-cards {
  --cardBgColor: #CCFFCC;
}

.groupbox-wrapper {
  padding: 20px;
  margin: 4px;
  background: rgba(0, 0, 0, .03);
  position: relative;
}

.groupbox-title {
  display: flex;
  align-items: center;
  padding: 4px 14px 30px 0;
  color: rgba(0, 0, 0, .54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: italic;
}

.groupbox-body {
  min-height: 600px;
  cursor: default !important; // need important to override ng2-dnd's cursor setting on the element
}

.groupbox-edge-button {
  position: absolute;
  right: 20px;
  top: -15px;
}
