<!--<mat-grid-list cols="3">
  <mat-grid-tile>
    <todo-group [group]="todoGroup"></todo-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <todo-group [group]="doingGroup"></todo-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <todo-group [group]="doneGroup"></todo-group>
  </mat-grid-tile>
</mat-grid-list>-->

<div fxFill fxLayout="row" fxLayoutGap="30px">
  <todo-group [group]="todoGroup" fxFlex="33.33"></todo-group>
  <todo-group [group]="doingGroup" fxFlex="33.33"></todo-group>
  <todo-group [group]="doneGroup" fxFlex="33.33"></todo-group>
</div>
