<!--<mat-grid-list cols="3">
  <mat-grid-tile>
    <todo-group [group]="todoGroup"></todo-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <todo-group [group]="doingGroup"></todo-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <todo-group [group]="doneGroup"></todo-group>
  </mat-grid-tile>
</mat-grid-list>-->

<div class="mat-grid">
  <todo-group [group]="todoGroup" class="mat-cell"></todo-group>
  <todo-group [group]="doingGroup" class="mat-cell"></todo-group>
  <todo-group [group]="doneGroup" class="mat-cell"></todo-group>
</div>
