.groupbox-wrapper {
  margin: 4px;
  background: rgba(0, 0, 0, .03);
}

.groupbox-title {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: rgba(0, 0, 0, .54);
}

.groupbox-body {
  padding: 30px;
}
