.groupbox-wrapper {
  margin: 4px;
  background: rgba(0, 0, 0, .03);
  position: relative;
}

.groupbox-title {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: rgba(0, 0, 0, .54);
}

.groupbox-body {
  padding: 30px;
}

.groupbox-edge-button {
  position: absolute;
  right: 20px;
  top: -15px;
}
